@model LabaManageSys.WebUI.ViewModels.Home.IndexViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Title = "Index";
}

<h2>"Это основная страница"</h2>

<p> @Model.Status </p>