@model HandleErrorInfo
@{
    //Layout = null;
    ViewBag.Title = "Извините, возникли проблемы!";
}

<h2>Извините</h2>
<span>
    <b>Возникло непредвиденное событие. Обратитесь пожалуйста к администратору сайта.</b>
</span>
<div>
    @Html.ActionLink("Вернуться обратно", "Index", "Home")
</div>
